
html * {
	
	font-family: Arial, Verdana, Sans-Serif;
	color:#4B5457;
}

ul {
	list-style-type: square;
	
}

li {
	margin: 5px;
}

td {
	padding: 5px;
	text-align: center;
	
	
}

a:link {
	text-decoration: none;
	
}

a:hover {
	text-decoration: underline;
	background-color: cyan;
}