a:link {
	text-decoration: none;
}

a:visited {
	color: green;
}

a:hover {
	font-weight: bold;
}


	
body {

	background-color: lightblue
	}
			

			
li {
	display: inline;
	margin: 0px 50px;
			
	}
		
footer {

	text-align: center;
	width: 300px;
	margin: auto
	
	
	
			}
			
p.footer {
	
	font-size: 10px;
	font-family: monospace;
	
}