

html * {
	color: black;
}
	
body {

	background-color: lightblue
	}
			
ul {
	width: 500px;
	text-align: center;
	margin: 0px auto 0px auto;
	border-top: 2px solid;
	border-bottom: 1px solid;
	padding: 15px
	
	}
			
li {
	display: inline;
	margin: 0px 50px;
			
	}
		
footer {

	text-align: center;
	width: 300px;
	margin: auto
	
	
	
			}
			
p.footer {
	
	font-size: 10px;
	font-family: monospace;
	
}
